# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# MacOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env

# Dataset
data/*
!data/.gitkeep